/* images styles */

@media screen and (max-width: 767px) {
  .cups-img img {
    width: 100vw;
  }

  /* Favorite images */
  .swiper-slide img {
    width: 65vw;
    margin: 10px;
    padding: 50px 0px;
    /* height: 80vw; */
  }

  /* Blue Arrow under Order Now */
  .blue-arrow {
    margin-left: 50%;
    margin-bottom: 50px;
    margin-top: -30px;
    overflow: hidden;
  }
  .blue-arrow img {
    width: 60vw;
  }

  /* Hidden and show menu zoom elements */
  .hidden {
    opacity: 0;
    transition: 1s;
  }
  .show {
    opacity: 1;
  }
}
